@use "../Abstracts/index" as *;
// using to nesting 
.welcome-card {
    background: $card-color;
    border: 2px solid black;
    box-shadow: 3px 3px rgb(34, 31, 31);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px;
    // using BEM - Block Element Modifier
    &_title {
        text-align: center;
        // border: 1px solid red;
        font-size: 30px;
    }
    &_para {
        padding: 10px;
        color: $font-color;
        font-family: $font-roboto;
    }
    &_btn {
        // background-color: var(--app-color);
        // local variable
        $app-color: orange;
        background-color: $app-color;
        color: rgb(0, 0, 0);
        margin-top: 10px;
        padding: 8px;
        border: none;
        border-radius: 15px;
        font-size: 12px;
    }
    &_another-para {
        padding: 10px;
        $font-color:#3F20B6;
        color: $font-color;
    }
} 